<div class="money-back-text mt-2 text-uppercase text-center align-items-center justify-content-center">
    <h6 class="mb-0">
        100% No-Risk Money Back Guarantee
    </h6>
    {% unless productTags contains 'no-freeship' %}
        <p class="fst-italic m-0" style="font-size: small;">*Free shipping only in USA.</p>
    {% endunless %}
</div>