{% if section.settings.topBarActive %}
	{% if section.settings.topBarLink %}<a href="{{ section.settings.topBarLink }}" style="color: #000;">{% endif %}
		<div class="top-bar__container align-items-center d-lg-flex justify-content-center text-center py-1">
			{{ section.settings.text }}
		</div>
	{% if section.settings.topBarLink %}</a>{% endif %}
{% endif %}

{% schema %}
{
	"name": "Top Bar",
	"settings": [
		{
			"type": "checkbox",
			"id": "topBarActive",
			"label": "Active",
			"default": true
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text"
		},
		{
			"type": "url",
			"id": "topBarLink",
			"label": "Link"
		}
	]
}
{% endschema %}

<style>
	.top-bar__container p{
		margin: 0;
	}
</style>
