<div class="container-fluid">
  <div class="text-center py-4">
    <button class="btn btn-primary btn-lg text-decoration-none text-uppercase align-self-center" id="view-bundles">
      View Bundles
    </button>
  </div>
  
  <div class="row text-center py-2 my-2">
    <div class="col">
      <h1>Amabassador Only Collection</h1>
    </div>
  </div>
</div>

{% section 'big-image-text' %}
{% section 'product-grid-20off' %}
{% section 'bundle-products' %}
{% section 'testimonials' %}
