<div class="container my-5 py-5">
    <h1 class="text-center display-4 font-weight-bold">Thank you for your registration</h1>
    <div class="mt-2 text-center">
        <p class="h4">Please check your email for additional information.</p>
        <a class="btn btn-primary btn-xl text-uppercase mt-2" href="/collections/formula">Shop</a>
    </div>
</div>

<style>
    a.btn-xl {
        font-size: 16px;
        padding: 8px 15px;
    }
</style>