<div class="container my-4">
  <div class="form-group row">
    <div class="col-md-6 mx-auto border rounded text-center py-5">
      <h2>Thank You! Your Upload Has Been Successfully Submitted.</h2>
    </div>
  </div>
</div>