<div class="container py-5 my-2 d-none">
    <div class="text-center">
        <h1 class="display-4 text-center font-weight-bold sm:min-hidden text-uppercase w-75 mx-auto">{{ page.title }}</h1>
        {% section 'video_upload' %}
    </div>
</div>

<div class="container pt-5 mt-4">
    <div style="margin:0 auto;" class="pxFormGenerator" id="6dgkfRpJSEcvhnoGXM0AQQ"></div>
</div>
